{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Tasks{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Your custom base stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- You can change the brand name to something more general if you like -->
            <a class="navbar-brand" href="#">My Tasks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <!-- Update these links to your actual URL names or remove if not needed -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'habit_list' %}">Habits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'task_list' %}">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_task' %}">Add New Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
