{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="mb-4">Add Habit</h1>

  <div class="card shadow-sm">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            required
          >
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            name="description"
            id="description"
            class="form-control"
            required
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="minimal_time" class="form-label">Minimal Time (minutes):</label>
          <input
            type="number"
            name="minimal_time"
            id="minimal_time"
            class="form-control"
            required
          >
        </div>

        <div class="mb-3">
          <label for="score" class="form-label">Score (optional):</label>
          <input
            type="number"
            name="score"
            id="score"
            class="form-control"
          >
        </div>

        <button type="submit" class="btn btn-success">
          Add Habit
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
